/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}
header{
    width: 100%;
    margin: 5% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header img{
    width: 25%;
}
nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header nav a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
header nav a:hover{
    color: #FFBB3C;
}

.banner-img{
    background-image: url(https://raw.githubusercontent.com/deborah-w32/web-Sprint-Challenge-User-Interface-and-Git/master/img/jumbo-about.png);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 5%;
}

.about-page{
    width: 100%;
    display: flex;    
    flex-flow: row wrap; 
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px dashed black;
    margin-bottom: 40px;
}

.about-page div{
    width: 50%;
    line-height: 2.5;
    
}

.button{
    display:inline-block;
    width:30%;
    text-align:center;
    text-decoration: none;
    background-color:white;
    color:black;
    padding:1% 0;
    margin: 3% 0;
    border-radius:10px;
    border: 2px solid black;
}
.button:hover{
    background-color: #567498;
    color: white;
}


.about-intro {
    width: 100%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px dashed black;  
}

.together{
    margin-bottom: 40px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
footer nav a:hover{
    color: #FFBB3C;
}